- if blog.tags.present?
  .secondary-nav{ role: 'navigation' }
    %h2= t('workarea.storefront.blogs.tags')
    %ul.secondary-nav__nav-menu
      - blog.tags.each do |tag|
        %li.secondary-nav__menu-item= link_to "#{tag[:name]} (#{tag[:count]})", blog_tagged_path(blog, tag[:name]), class: 'secondary-nav__item-node'
