/*------------------------------------*\
    #QUICKVIEW-BUTTON
\*------------------------------------*/

// scss-lint:disable ImportantRule

/**
 * 1. disable quickview buttons for touch devices
 */
.quickview-button {
    @include center;
    display: none;

    .product-summary:hover & {
        @include respond-to($medium-breakpoint) {
            display: block;
            white-space: nowrap;
        }

        .touch & { display: none !important; } /* [1] */
    }
}
