/*------------------------------------*\
    #QUICKVIEW-BUTTON
\*------------------------------------*/

// scss-lint:disable ImportantRule

$quickview-button-bottom-offset:  0 !default;

/**
 * 1. disable quickview buttons for touch devices
 */
.quickview-button {
    display: none;

    .product-summary:hover & {
        @include respond-to($medium-breakpoint) {
            display: block;
            position: absolute;
            right: 0;
            bottom: $quickview-button-bottom-offset;
            margin: $spacing-unit;
            white-space: nowrap;
        }

        .touch & { display: none !important; } /* [1] */
    }
}
