/*------------------------------------*\
    #QUICKVIEW-BUTTON
\*------------------------------------*/

// scss-lint:disable ImportantRule

$quickview-button-bottom-offset:  4px !default;

/**
 * 1. matches top padding for swatches in product summary
 * 2. disable quickview buttons for touch devices
 */
.quickview-button {
    display: none;

    .product-summary:hover & {
        @include respond-to($medium-breakpoint) {
            display: block;
            margin-top: 12px; /* [1] */
            float: right;
            white-space: nowrap;
        }

        .touch & { display: none !important; } /* [2] */
    }
}
