/*------------------------------------*\
    #SELECT-MENU
\*------------------------------------*/

$select-menu-color: $input-color !default;
$select-menu-bg-color: $select-menu-bg-color !default;
$select-menu-border-color: $input-border-color !default;
$select-menu-focus-border-color: $input-border-color-focus !default;
$select-menu-invalid-border-color: $invalid-color !default;
$select-menu-border-radius: 2px !default;

$select-menu-arrow-size: 10px !default;
$select-menu-arrow-width: $spacing-unit * 5 !default;
$select-menu-arrow-color: $input-color !default;
$select-menu-arrow-bg-color: $select-menu-bg-color !default;


/**
 * 1. Positioning context for before pseudo element
 */
.styled-select {
    position: relative; /* [1] */

    &:before {
        @include svg('icons/arrow_down.svg', $select-menu-arrow-size);
        @include center($to: vertical);
        right: $spacing-unit;
        bottom: 0;
        padding-top: $spacing-unit / 2;
        color: $select-menu-arrow-color;
        content: '';
        pointer-events: none;
    }

    /**
     * 1. Prevent chrome applying yellow background on autofill.
     */
    select:-webkit-autofill {
        box-shadow: 0 0 0 30px $select-menu-arrow-bg-color inset; /* [1] */
    }

    select {
        padding: $spacing-unit ($spacing-unit * 2);
        padding-right: ($spacing-unit * 2) + $select-menu-arrow-width;
        width: 100%;
        color: $select-menu-color;
        background-color: $select-menu-bg-color;
        border: 1px solid $select-menu-border-color;
        border-radius: $select-menu-border-radius;
        appearance: none;

        &::-ms-expand {
            display: none;
        }

        &.jquery-validation-error,
        &:invalid {
            border-color: $select-menu-invalid-border-color;
        }

        &:focus {
            border-color: $select-menu-focus-border-color;
        }
    }
}
