/*------------------------------------*\
    #PT-Serif
\*------------------------------------*/
// scss-lint:disable VariableForProperty

/* pt-serif-regular (400) */
@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    src: font-url('workarea/storefront/pt_serif/pt-serif-regular.woff2') format('woff2'),
        font-url('workarea/storefront/pt_serif/pt-serif-regular.woff') format('woff');
}

/* pt-serif-bold (700) */
@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    src: font-url('workarea/storefront/pt_serif/pt-serif-700.woff2') format('woff2'),
        font-url('workarea/storefront/pt_serif/pt-serif-700.woff') format('woff');
}
