/*------------------------------------*\
    #LINKS
\*------------------------------------*/

$link-font-size: $font-size-small !default;

a,
%link,
.link {
    color: $link-color;
    font-size: $link-font-size;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: $link-color-hover;
    }
}

%link--with-arrow,
.link--with-arrow {
    &:after {
        padding: $spacing-unit;
        opacity: 0;
        visibility: hidden;
        transition: opacity $transition-time ease-in;
        content: '>';
    }

    &:hover:after {
        opacity: 1;
        visibility: visible;
    }
}
