/*------------------------------------*\
    #LINKS
\*------------------------------------*/

$link-font-size: $font-size-small !default;
$link-footer-font-size: $font-size !default;

a,
%link,
.link {
    color: $link-color;
    font-size: $link-font-size;
    font-weight: 500;
    letter-spacing: $font-letter-spacing;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: $link-color-hover;
    }

    .page-footer & {
        color: $footer-link-color;
        font-size: $link-footer-font-size;
        line-height: 2;

        &:hover {
            color: $footer-link-color-hover;
        }
    }
}

%link--with-arrow,
.link--with-arrow {
    &:after {
        padding: $spacing-unit;
        opacity: 0;
        visibility: hidden;
        transition: opacity $transition-time ease-in;
        content: '>';
    }

    &:hover:after {
        opacity: 1;
        visibility: visible;
    }
}
