/*------------------------------------*\
    #BLOG-ENTRY-SUMMARY
\*------------------------------------*/

$blog-entry-summary-per-row: 3 !default;
$blog-entry-summary-per-row-content-block: 4 !default;
$blog-entry-summary-entry-width: 100% / $blog-entry-summary-per-row !default;
$blog-entry-summary-entry-width-content-block: 100% / $blog-entry-summary-per-row-content-block !default;
$blog-entry-summary-entry-border: 1px solid $border-color !default;
$blog-entry-summary-entry-title-color: $heading-color !default;
$blog-entry-summary-by-line-color: $font-color-light !default;

$blog-entry-summary-thumbnail-placeholder-ratio: 2 / 1 !default;
$blog-entry-summary-thumbnail-placeholder-text-color: $font-color-inverted !default;
$blog-entry-summary-thumbnail-placeholder-background-color: $primary-color !default;

$blog-entry-summary-tags-border-radius: 2px !default;
$blog-entry-summary-tag-color: $font-color-inverted !default;
$blog-entry-summary-tag-background-color: $primary-color !default;

$blog-entry-summary-comment-count-background-color: $background-color-alternate !default;


/**
 * 1. calc used to account for left + right margins in flex grid
 */
.blog-entry-summary {}

.blog-entry-summary--featured {}

    .blog-entry-summary__title {
        @extend %heading;
        @extend %heading--4;
        @extend %heading--upcase;
        padding: ($spacing-unit * 2) 0 $spacing-unit;
        text-align: center;

        @include respond-to($medium-breakpoint) {
            text-align: left;
        }
    }

    .blog-entry-summary__banner-content {
        margin-bottom: $vertical-margin;
    }

    .blog-entry-summary__entry-group {
        display: flex;
        flex-wrap: wrap;
    }

        .blog-entry-summary__entry {
            @extend %clearfix;
            position: relative;
            margin: $spacing-unit;
            max-width: calc(#{$blog-entry-summary-entry-width} - (#{$spacing-unit} * 2)); /* [1] */
            border: $blog-entry-summary-entry-border;
            flex-grow: 1;

            .featured-entry-content-block & {
                max-width: calc(#{$blog-entry-summary-entry-width-content-block} - (#{$spacing-unit} * 2)); /* [1] */
            }
        }

        .blog-entry-summary__entry--featured {
            max-width: calc((#{$blog-entry-summary-entry-width} * 2) - (#{$spacing-unit} * 2));  /* [1] */
            flex-grow: 2;
        }

            .blog-entry-summary__entry-thumbnail {
                text-align: center;
            }

            .blog-entry-summary__entry-thumbnail--placeholder {
                position: relative;
                padding: 0 0 ((1 / $blog-entry-summary-thumbnail-placeholder-ratio) * 100%);
                background-color: $blog-entry-summary-thumbnail-placeholder-background-color;
            }

                .blog-entry-summary__thumbnail-placeholder-text {
                    @include center;
                    padding: 0 $spacing-unit;
                    width: 80%;
                    color: $blog-entry-summary-thumbnail-placeholder-text-color;
                    font-size: $font-size;
                    font-weight: $font-weight-regular;
                }

            .blog-entry-summary__entry-label {
                display: inline-block;
                margin: 0 ($spacing-unit / 2) 0 0;
            }

            .blog-entry-summary__entry-title {
                margin-bottom: 0;
                padding: 0 $spacing-unit;
                font-size: $font-size;
                font-weight: $font-weight-regular;
            }

                .blog-entry-summary__entry-title-link {
                    color: $blog-entry-summary-entry-title-color;
                    font-size: $font-size;
                }

            .blog-entry-summary__entry-by-line {
                padding: 0 $spacing-unit;
                color: $blog-entry-summary-by-line-color;
                font-size: $font-size-small;
            }

                .blog-entry-summary__entry-author {
                    display: inline-block;
                    margin: 0 $spacing-unit 0 0;
                }

                .blog-entry-summary__entry-datetime {
                    display: inline-block;
                }

            .blog-entry-summary__entry-tags {
                margin: $vertical-margin 0 $spacing-unit;
                text-align: center;
            }

                .blog-entry-summary__entry-tags-list {
                    @extend %inline-list;
                    display: inline-block;
                }

                    .blog-entry-summary__entry-tags-list-item {
                        margin-bottom: $spacing-unit;
                        padding: ($spacing-unit / 2) $spacing-unit;
                        background-color: $blog-entry-summary-tag-background-color;
                        border-radius: $blog-entry-summary-tags-border-radius;

                        & + & {
                            margin: 0 0 $spacing-unit ($spacing-unit / 2);
                        }
                    }

                        .blog-entry-summary__entry-tags-list-item-link {
                            color: $blog-entry-summary-tag-color;
                        }

            .blog-entry-summary__content {
                margin-bottom: $spacing-unit * 6;
                padding: 0 $spacing-unit;
                font-size: $font-size-small;
                line-height: $line-height-large;
            }

                .blog-entry-summary__content-read-more {
                    white-space: nowrap;
                }

                .blog-entry-summary__entry-comment-count {
                    display: block;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: 0;
                    padding: $spacing-unit;
                    background-color: $blog-entry-summary-comment-count-background-color;
                }
