/*------------------------------------*\
    #FEATURED-ENTRY-CONTENT-BLOCK
\*------------------------------------*/

.featured-entry-content-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
