<p><button type='button' class='button button--secondary button--small'>
  <%= text %>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="button__icon">
    <title>plus</title>
    <polygon points="1 6.63 1 9.13 6.75 9.13 6.75 14.88 9.25 14.88 9.25 9.13 15 9.13 15 6.63 9.25 6.63 9.25 0.88 6.75 0.88 6.75 6.63 1 6.63"
    />
  </svg>
</button></p>
