<!-- TODO: Move this to storefront once v3.3 is released -->
<li class="ui-menu-item ui-menu-item--<%= type %>">
  <span class="ui-menu-item-wrapper">
    <% if (image) { %>
      <img class="ui-menu-item__image" src="<%= image %>" alt="">
    <% } %>
    <span class="ui-menu-item__text"><%= label %></span>
  </span>
</li>
