/*------------------------------------*\
    #ONE-COLOR-SCHEME
\*------------------------------------*/
/**
 * Color Variables
 *
 * These variables should always be aliased as Functional Variables at
 * the bottom of this file. Using color name variables outside of this file may
 * cause errors when changing color scheme.
 */

$blue:                              #0116ac !default;
$yellow:                            #e7ca00 !default;
$red:                               #ff404a !default;
$green:                             #42cc81 !default;

$white:                             #ffffff !default;
$black:                             #000000 !default;

$black-alpha-15:                    rgba($black, 0.15) !default;
$black-alpha-50:                    rgba($black, 0.50) !default;

$white-alpha-50:                    rgba($white, 0.50) !default;

$transparent:                       transparent !default;

/**
 * Theme colors
 */

$gray: #7c7a94 !default;
$medium-gray: #c1c2d0 !default;
$light-gray: #eaedf3 !default;

$midnight: #0c102c !default;
$purple-blue: #3e36d9 !default;
$dark-purple-blue: #3029ad !default;
$highlighter: #fff93d !default;

/**
 * Styleguide color box modifiers for theme colors
 */
.color-box__swatch--gray { background: $gray; }
.color-box__swatch--medium-gray { background: $medium-gray; }
.color-box__swatch--light-gray { background: $light-gray; }
.color-box__swatch--midnight { background: $midnight; }
.color-box__swatch--purple-blue { background: $purple-blue; }
.color-box__swatch--dark-purple-blue { background: $dark-purple-blue; }
.color-box__swatch--highlighter { background: $highlighter; }


/**
 * FUNCTIONAL COLOR VARIABLES
 */

// Generic
$primary-color: $purple-blue !default;
$primary-color-dark: $dark-purple-blue !default;

$background-color: $white !default;
$background-color-component: $white !default;

$border-color: $light-gray !default;
$highlight-color: $highlighter !default;
$overlay-shadow-color: rgba($black, 0.8) !default;
$ui-dialog-titlebar-bg-color: $background-color !default;

// Site header colors
$header-background-color: $white !default;
$header-icon-color: $gray !default;
$header-icon-color-hover: $primary-color !default;
$header-icon-color-cart: $white !default;
$utility-nav-background-color: $gray !default;

// Navigation colors
$primary-nav-background-color: $background-color !default;
$primary-nav-border-color: $border-color !default;
$primary-nav-links-color: $midnight !default;
$primary-nav-links-color-hover: $midnight !default;
$primary-nav-link-hover-border-color: $highlighter !default;
$primary-nav-dropdown-links: $midnight !default;
$primary-nav-dropdown-links-hover: $purple-blue !default;
$mobile-nav-links: $midnight !default;

// Secondary navigation colors
$secondary-nav-link-selected-color: $purple-blue !default;
$secondary-nav-link-color: $black !default;

// Footer colors
$footer-background-color: $midnight !default;
$footer-color: $white !default;
$footer-border-color: rgba($white, 0.3) !default;
$footer-link-color: $white !default;
$footer-link-color-hover: $highlighter !default;

$footer-icon-color: $midnight !default;
$footer-icon-color-hover: $primary-color !default;

// Email signup colors
$email-signup-button-bg-color: $highlighter !default;
$email-signup-button-icon-color: $footer-icon-color !default;
$email-signup-button-icon-color-hover: $footer-icon-color-hover !default;

// Typography colors
$font-color: $midnight !default;
$heading-color: $midnight !default;
$product-name-color: $heading-color !default;

// Links & Buttons
$link-color: $primary-color !default;
$link-color-hover: $primary-color-dark !default;
$button-color: $white !default;
$button-background-color: $primary-color !default;
$button-background-color-hover: $primary-color-dark !default;
$button-border-color: $transparent !default;

$button-secondary-color: $midnight !default;
$button-secondary-background-color: $white !default;
$button-secondary-background-color-hover: $white !default;
$button-secondary-border-color: $primary-color !default;
$button-secondary-border-color-disabled: $white !default;

$button-disabled-color: $white !default;
$button-disabled-background-color: $medium-gray !default;

// Inputs
$label-color: $midnight !default;
$input-color: $midnight !default;
$placeholder-color: $midnight !default;
$input-background-color: $light-gray !default;
$input-border-color: $medium-gray !default;
$input-border-color-focus: $primary-color !default;
$input-disabled-color: rgba($input-color, 0.18) !default;
$input-disabled-background-color: $input-background-color !default;
$input-icon-color: $medium-gray !default;
$text-box-secondary-border-color: $highlighter !default;

$valid-color: $green !default;
$invalid-color: $red !default;
$focus-ring-color: $primary-color !default;

// Browse page colors
$category-count-color: $gray !default;
