/*------------------------------------*\
    #LAGOON-COLOR-SCHEME
\*------------------------------------*/
/**
 * Color Variables
 *
 * These variables should always be aliased as Functional Variables at
 * the bottom of this file. Using color name variables outside of this file may
 * cause errors when changing color scheme.
 */

$blue:                              #0116ac !default;
$yellow:                            #e7ca00 !default;
$red:                               #ff404a !default;
$green:                             #42cc81 !default;

$white:                             #ffffff !default;
$black:                             #000000 !default;

$black-alpha-15:                    rgba($black, 0.15) !default;
$black-alpha-50:                    rgba($black, 0.50) !default;

$white-alpha-50:                    rgba($white, 0.50) !default;

$transparent:                       transparent !default;

/**
 * Theme colors
 */

$gray: #1b1b1e !default;
$medium-gray: #6d676e !default;
$light-gray: #adaaad !default;

$darkest-teal: #0b452f !default;
$dark-teal: #33755c !default;
$teal: #7ba696 !default;
$light-teal: #aac6bb !default;
$lightest-teal: #dae5e1 !default;


/**
 * Styleguide color box modifiers for theme colors
 */
.color-box__swatch--gray { background: $gray; }
.color-box__swatch--medium-gray { background: $medium-gray; }
.color-box__swatch--light-gray { background: $light-gray; }
.color-box__swatch--darkest-teal { background: $darkest-teal; }
.color-box__swatch--dark-teal { background: $dark-teal; }
.color-box__swatch--teal { background: $teal; }
.color-box__swatch--light-teal { background: $light-teal; }
.color-box__swatch--lightest-teal { background: $lightest-teal; }


/**
 * FUNCTIONAL COLOR VARIABLES
 */

// Generic
$primary-color: $teal !default;
$primary-color-dark: $dark-teal !default;

$background-color: $white !default;
$background-color-component: $white !default;
$background-color-alternate: $lightest-teal !default;
$page-aside-background-color: $background-color-alternate !default;

$border-color: $light-gray !default;
$highlight-color: $primary-color !default;
$overlay-shadow-color: rgba($black, 0.8) !default;
$ui-dialog-titlebar-bg-color: $background-color !default;

// Breadcrumbs
$breadcrumbs-divider-color: $border-color !default;
$breadcrumbs-color: $darkest-teal !default;
$breadcrumbs-arrow-color: $teal !default;

// Site header colors
$header-background-color: $white !default;
$header-border-color: $gray !default;
$header-icon-color: $medium-gray !default;
$header-icon-color-hover: $primary-color !default;
$header-icon-color-cart: $white !default;
$header-cart-background-color: $primary-color !default;
$header-cart-count-color: $white !default;
$header-cart-count-background-color: $primary-color-dark !default;
$utility-nav-background-color: $background-color-alternate !default;
$utility-nav-heading-color: $primary-color !default;

// Navigation colors
$primary-nav-background-color: $background-color !default;
$primary-nav-border-color: $border-color !default;
$primary-nav-links-color: $darkest-teal !default;
$primary-nav-links-color-hover: $dark-teal !default;
$primary-nav-link-hover-border-color: $teal !default;
$primary-nav-dropdown-links: $darkest-teal !default;
$primary-nav-dropdown-links-hover: $dark-teal !default;

$mobile-nav-bg-color: $background-color !default;
$mobile-nav-links: $darkest-teal !default;
$mobile-nav-close-button-color: $white !default;
$mobile-nav-back-button-color: $darkest-teal !default;
$mobile-nav-back-button-bg-color: $background-color-alternate !default;

// Secondary navigation colors
$secondary-nav-link-selected-color: $teal !default;
$secondary-nav-link-color: $black !default;
$secondary-nav-background-color: $white !default;

// Search colors
$search-overlay-background-color: $overlay-shadow-color !default;
$search-color: $white !default;
$search-input-border-color: $white !default;
$search-item-color: $black !default;
$search-item-background-color: $white !default;
$search-item-border-color: $medium-gray !default;
$search-item-content-result-background-color: $transparent !default;
$search-item-content-result-color: $white !default;

// Footer colors
$footer-background-color: $lightest-teal !default;
$footer-color: $black !default;
$footer-border-color: rgba($white, 0.3) !default;
$footer-link-color: $dark-teal !default;
$footer-link-color-hover: $darkest-teal !default;

$footer-icon-color: $dark-teal !default;
$footer-icon-color-hover: $darkest-teal !default;

// Email signup colors
$email-signup-value-border-color: $black !default;
$email-signup-label-color: $black !default;
$email-signup-button-bg-color: $transparent !default;
$email-signup-button-icon-color: $dark-teal !default;
$email-signup-button-icon-color-hover: $darkest-teal !default;

// Typography colors
$font-color: $black !default;
$font-color-light: $medium-gray !default;
$font-color-inverted: $white !default;
$heading-color: $black !default;
$product-name-color: $heading-color !default;

// Links & Buttons
$link-color: $primary-color !default;
$link-color-hover: $primary-color-dark !default;
$button-color: $white !default;
$button-background-color: $primary-color !default;
$button-background-color-hover: $primary-color-dark !default;
$button-border-color: $transparent !default;

$button-secondary-color: $dark-teal !default;
$button-secondary-background-color: $transparent !default;
$button-secondary-background-color-hover: $white !default;
$button-secondary-border-color: $primary-color !default;
$button-secondary-border-color-disabled: $white !default;

$button-secondary-color-alt: $white !default;
$button-secondary-border-color-alt: $white !default;

$button-disabled-color: $white !default;
$button-disabled-background-color: $medium-gray !default;

// Inputs
$label-color: $black !default;
$input-color: $black !default;
$placeholder-color: $black !default;
$input-background-color: lighten($background-color-alternate, 10%) !default;
$input-border-color: $border-color !default;
$input-border-color-focus: $primary-color !default;
$input-disabled-color: rgba($input-color, 0.18) !default;
$input-disabled-background-color: $input-background-color !default;
$input-icon-color: $medium-gray !default;

$input-radio-color: $white !default;
$input-radio-border-color: $gray !default;
$input-radio-fill-color: $primary-color !default;
$input-radio-background-color: $white !default;

$input-checkbox-color: $white !default;
$input-checkbox-border-color: $gray !default;
$input-checkbox-fill-color: $primary-color !default;

$quantity-control-background-color: $background-color-component !default;
$quantity-control-button-color: $white !default;
$quantity-control-button-background-color: $primary-color !default;
$quantity-control-border-color: $primary-color !default;

$select-menu-bg-color: $white !default;

$valid-color: $green !default;
$invalid-color: $red !default;
$focus-ring-color: $primary-color !default;

// Browse page colors
$category-count-color: $light-teal !default;
$product-summary-background-color: $background-color-component !default;
$product-summary-background-color-hover: rgba($background-color-alternate, 0.5) !default;
$product-summary-border-color: $border-color !default;
$product-summary-name-color: $black !default;

// Browse page filters
$result-filters-text-color: $black !default;
$result-filters-text-color-hover: $white !default;
$result-filters-count-background-color: $white !default;
$result-filters-count-text-color: $medium-gray !default;
$result-filters-selected-background-color: $white !default;
$result-filters-selected-color-hover: $darkest-teal !default;
$result-filters-icon-background-color: $black !default;
$result-filters-view-more-text-color: $black !default;
$result-filters-view-more-text-color-hover: $white !default;
$result-filters-applied-background-color: lighten($background-color-alternate, 1%) !default;

// Mobile Filters
$mobile-filters-heading-color: $dark-teal !default;
$mobile-filters-overlay-color: $black-alpha-50 !default;
$mobile-filters-background-color: $background-color-alternate !default;
$mobile-filters-sort-background-color: $white !default;

// Badge Colors
$badge-color: $white;
$badge-background-color: $primary-color;
$badge-new-background-color: #fdb635;
$badge-sale-background-color: #e50461;
$badge-best-seller-background-color: #21c0af;

// Cart page colors
$cart-item-count-color: $gray !default;

// Product list item colors
$product-list-item-options-color: $gray !default;

$product-detail-container-tab-border-color: $white !default;

// Product price colors
$product-price-color: $black !default;
$product-price-sale-color: $red !default;
$product-price-discount-color: $red !default;

// Checkout colors
$checkout-summary-section-border-color: $medium-gray !default;
$checkout-progress-color: $medium-gray !default;
$checkout-progress-active-color: $primary-color !default;
$checkout-progress-completed-color: $primary-color !default;
$checkout-progress-step-color: $medium-gray !default;
$checkout-progress-step-background-color: $gray !default;
$checkout-progress-step-number-color: $white !default;
$checkout-progress-step-divider-color: $medium-gray !default;

$checkout-conifrmation-checkmark-background-color: $primary-color !default;
$checkout-conifrmation-checkmark-icon-color: $white !default;

// Content block colors
$divider-content-block-color: $medium-gray !default;
$recommendations-background-color: $background-color-alternate !default;

// Reviews
$rating-star-color: $yellow !default;
$rating-star-color-empty: $light-gray !default;

//Blog
$blog-entry-tag-color: $white !default;
$blog-entry-tag-background-color: $primary-color !default;

// Social Icons
$social-icon-color: $primary-color !default;
$social-icon-color-hover: $white !default;
$social-icon-background: $white !default;
$social-icon-background-hover: $primary-color !default;
$social-icon-border-color: $primary-color !default;
$social-icon-border-color-hover: $white !default;

// Slider
$slider-dots-color: $link-color !default;
$slider-dots-bg-color: $background-color !default;
$slider-nav-color: $medium-gray !default;
$slider-nav-color-alt: $primary-color !default;
$slider-nav-bg-color: transparent !default;
$slider-active-color: $link-color !default;
