-# TODO v4 just use product-list-content-block for recommendations
- if @recommendations.any?

  .personalized-recommendations-content-block

    .content-wrapper
      %span.personalized-recommendations-content-block__heading= t('workarea.storefront.recommendations.heading')

      .grid
        - @recommendations.each do |product|
          .grid__cell.grid__cell--50.grid__cell--25-at-medium
            .product-summary.product-summary--small
              = render 'workarea/storefront/products/summary', product: product
