.product-details-media
  .product-details-media__primary-image
    = link_to(product_image_url(product.primary_image, :zoom), target: '_blank', rel: 'noopener', class: 'product-details-media__primary-image-link', data: { dialog_button: '' }) do
      = image_tag product_image_url(product.primary_image, :detail), alt: t('workarea.storefront.products.image_alt_attribute', name: product.name), itemprop: 'image', class: 'product-details-media__primary-image-link-image'

  - if product.images.length > 1
    .product-details-media__alt-images
      .grid.grid--auto
        - product.images.each_with_index do |image, index|
          .grid__cell
            .product-details-media__alt-image
              - button_class = index == 0 ? 'product-details-media__alt-image-link product-details-media__alt-image-link--selected' : 'product-details-media__alt-image-link'
              = link_to(image_tag(product_image_url(image, :small_thumb), alt: t('workarea.storefront.products.zoom')), product_image_url(image, :zoom), class: button_class, target: '_blank', rel: 'noopener', data: { alternate_image_button: { src: product_image_url(image, :detail) }.to_json })
