/*------------------------------------*\
    #BREADCRUMBS
\*------------------------------------*/

$breadcrumb-node-separator: '/' !default;
$breadcrumbs-container-max-width: 1360px !default;


/**
 * 1. adds visual separator for adjacent `.breadcrumbs_node`
 */

.breadcrumbs {
    margin: 0 auto $vertical-margin;
    max-width: $breadcrumbs-container-max-width;
}

    .breadcrumbs__node-group {}

        .breadcrumbs__node {
            & + &:before { /* [1] */
                margin: 0 ($spacing-unit / 2);
                content: $breadcrumb-node-separator;
            }
        }
