/*------------------------------------*\
    #BUTTON
\*------------------------------------*/

$button-color: $button-color !default;
$button-bg-color: $button-background-color !default;
$button-bg-color-hover: $button-background-color-hover !default;

$button-secondary-color: $button-secondary-color !default;
$button-secondary-bg-color: $button-secondary-background-color !default;
$button-secondary-bg-color-hover: $button-secondary-background-color-hover !default;
$button-secondary-border-color: $button-secondary-border-color !default;
$button-secondary-border-color-disabled: $button-secondary-border-color-disabled !default;
$button-secondary-border-width: 3px !default;

$button-disabled-color: $button-disabled-color !default;
$button-disabled-background-color: $button-disabled-background-color !default;

$button-padding: $spacing-unit ($spacing-unit * 3) !default;
$button-small-padding: $spacing-unit ($spacing-unit * 2) !default;
$button-large-padding: ($spacing-unit * 2) ($spacing-unit * 4) !default;

$button-font-size: 12px !default;
$button-secondary-font-size: 18px !default;
$button-small-font-size: 12px !default;
$button-large-font-size: 15px !default;


/**
 * 1. ensure button text won't receive an underline on hover
 */
.button {
    @extend %button-reset;
    display: inline-block;
    padding: $button-padding;
    color: $button-color;
    font-size: $button-font-size;
    letter-spacing: $font-letter-spacing;
    background: $button-bg-color;
    cursor: pointer;

    &:focus,
    &:hover {
        color: $button-color;
        text-decoration: none; /* [1] */
        background-color: $button-bg-color-hover;
    }

    &:disabled {
        color: $button-disabled-color;
        background-color: $button-disabled-background-color;
    }

    .search__button & {
        padding: $spacing-unit ($spacing-unit * 2);
        background-color: $transparent;
    }
}

.button--secondary {
    color: $button-secondary-color;
    font-size: $button-secondary-font-size;
    background: $button-secondary-bg-color;
    border: $button-secondary-border-width solid $button-secondary-border-color;

    &:focus,
    &:hover {
        color: $button-secondary-color;
        background-color: $button-secondary-bg-color-hover;
    }

    &:disabled {
        background-color: $button-disabled-background-color;
        border-color: $button-secondary-border-color-disabled;
    }
}

.button--small {
    padding: $button-small-padding;
    font-size: $button-small-font-size;
}

.button--large {
    padding: $button-large-padding;
    font-size: $button-large-font-size;
    text-transform: uppercase;
}

.button--full {
    width: 100%;
    text-align: center;
}

    .button__icon {
        display: inline-block;
        vertical-align: middle;
        transform: translateX($spacing-unit);
        fill: $button-color;

        .button--large & {
            transform: translateX($spacing-unit * 2);
        }

        .button--secondary & {
            fill: $button-secondary-color;
        }
    }

    .button__icon--shift-right {
        transition: transform $transition-time ease-in;

        .button:hover & {
            transform: translateX($spacing-unit + 4px);
        }

        .button--large:hover & {
            transform: translateX(($spacing-unit * 2) + $spacing-unit);
        }
    }
