/*------------------------------------*\
    #CHECKOUT-PROGRESS
\*------------------------------------*/

$checkout-progress-color:            $medium-gray !default;
$checkout-progress-active-color:     $primary-color !default;
$checkout-progress-completed-color:  $primary-color !default;

$checkout-progress-step-color: $medium-gray !default;
$checkout-progress-step-background-color: $gray !default;

$checkout-progress-step-number-color: $white !default;
$checkout-progress-step-completed-color: $checkout-progress-active-color !default;
$checkout-progress-step-completed-background-color: $checkout-progress-active-color !default;

$checkout-progress-max-width: 768px !default;
$checkout-progress-step-font-size: 8px !default;
$checkout-progress-step-font-size-wide: 12px !default;
$checkout-progress-step-number-size: $spacing-unit * 4 !default;
$checkout-progress-step-complete-icon-size: 8px !default;
$checkout-progress-step-complete-icon-size-wide: 16px !default;
$checkout-progress-step-line-height: 2px !default;
$checkout-progress-step-line-width: 20vw !default;
$checkout-progress-step-line-width-medium: 10vw !default;
$checkout-progress-step-line-width-wide: 14vw !default;

.checkout-progress {
    @extend %list-reset;
    display: table;
    margin: ($spacing-unit * 2) 0;
    width: 100%;
    max-width: $checkout-progress-max-width;
    text-align: center;

    @include respond-to($medium-breakpoint) {
        margin: ($spacing-unit * 3) 0;
    }

    @include respond-to($wide-breakpoint) {
        margin: ($spacing-unit * 4) 0;
    }
}

    /**
     * 1. a `.checkout-progress__step` is considered "completed" until:
     * 2. it becomes activated, or
     * 3. appears after the activated step
     */
    .checkout-progress__step {
        display: table-cell;
        color: $checkout-progress-completed-color; /* [1] */
        white-space: nowrap;
        vertical-align: middle;

        @include respond-to($medium-breakpoint) {
            margin: 0 $spacing-unit;
        }

        @include respond-to($small-horizontal-breakpoint) {
            &:before {
                display: inline-block;
                margin: 0 $spacing-unit;
                width: $checkout-progress-step-line-width;
                height: $checkout-progress-step-line-height;
                background-color: $primary-color;
                vertical-align: middle;
                content: '';
            }

            &:first-of-type:before {
                display: none;
            }
        }

        @include respond-to($medium-breakpoint) {
            &:before {
                width: $checkout-progress-step-line-width-medium;
            }
        }

        @include respond-to($wide-breakpoint) {
            &:before {
                width: $checkout-progress-step-line-width-wide;
            }
        }
    }

    .checkout-progress__step--active { /* [2] */
        color: $checkout-progress-active-color;

        ~ .checkout-progress__step { /* [3] */
            color: $checkout-progress-color;

            .checkout-progress__step-number {
                background-color: $checkout-progress-step-background-color;
            }

            &:before {
                background-color: $gray;
            }
        }
    }

        /**
         * 1. the link only appears within the "completed" state
         */
        .checkout-progress__link {} /* [1] */

        .checkout-progress__text {}

        .checkout-progress__link,
        .checkout-progress__text {
            font-size: $checkout-progress-step-font-size;
            letter-spacing: 1px;

            @include respond-to($medium-breakpoint) {
                font-size: $checkout-progress-step-font-size-wide;
            }
        }

            .checkout-progress__step-number {
                display: block;
                position: relative;
                margin: 0 auto;
                width: $checkout-progress-step-number-size;
                height: $checkout-progress-step-number-size;
                color: $checkout-progress-step-number-color;
                line-height: $checkout-progress-step-number-size;
                text-align: center;
                background-color: $checkout-progress-step-completed-background-color;
                border-radius: 50%;
                vertical-align: middle;

                @include respond-to($small-horizontal-breakpoint) {
                    display: inline-block;
                }

                .checkout-progress__step--active & {
                    background-color: $checkout-progress-step-completed-background-color;
                }
            }

                .checkout-progress__step-checkmark {
                    position: absolute;
                    top: 50%;
                    width: $checkout-progress-step-complete-icon-size;
                    height: $checkout-progress-step-complete-icon-size;
                    transform: translate(-50%, -50%);
                    fill: $checkout-progress-step-number-color;

                    @include respond-to($medium-breakpoint) {
                        width: $checkout-progress-step-complete-icon-size-wide;
                        height: $checkout-progress-step-complete-icon-size-wide;
                    }
                }
