/*------------------------------------*\
    #CONTENT-BLOCK
\*------------------------------------*/

$content-block-font-size: $font-size-content-blocks !default;


.content-block {
    .page-content & {
        font-size: $content-block-font-size;
    }
}

/**
 * 1. Font size must be 0 to preserve inline-block layout.
 * Content blocks available in-grid must set a font-size to prevent regressions
 */
.content-block--product-grid-cell {
    .page-content & {
        font-size: 0; /* [1] */
    }
}

.content-block--hidden-for-small {
    display: none;

    @include respond-to($medium-breakpoint) {
        display: block;
    }
}

.content-block--hidden-for-medium {
    @include respond-to($medium-breakpoint) {
        display: none;
    }

    @include respond-to($wide-breakpoint) {
        display: block;
    }
}

.content-block--hidden-for-wide {
    @include respond-to($wide-breakpoint) {
        display: none;
    }

    @include respond-to($x-wide-breakpoint) {
        display: block;
    }
}

.content-block--hidden-for-x-wide {
    @include respond-to($x-wide-breakpoint) {
        display: none;
    }
}
