/**
 * Extensions to the search autocomplete plugin to support content
 * results.
 */

$search-autocomplete-content-link-color: $white !default;

.search-autocomplete__content {
    @include respond-to($medium-breakpoint) {
        text-align: left;
    }
}

    .search-autocomplete__content-item {
        color: $search-autocomplete-content-link-color;
    }

        .search-autocomplete__content-link {
            color: $search-autocomplete-content-link-color;

            &:hover {
                color: $search-autocomplete-content-link-color;
                text-decoration: underline;
            }
        }
