/*------------------------------------*\
    #LOGIN
\*------------------------------------*/

$login-form-border-color: $border-color !default;
$login-form-max-width: 320px !default;


/**
 * 1. adds visual separator for adjacent `.breadcrumbs_node`
 */

.login {}

    .login__section {
        padding: ($spacing-unit * 3);

        @include respond-to($medium-breakpoint) {
            margin: ($spacing-unit * 5) auto;
        }
    }

    .login__section--create-account {}
    .login__section--order-lookup {}

    .login__section--order-lookup,
    .login__section--create-account {
        border-top: 1px solid $login-form-border-color;

        @include respond-to($medium-breakpoint) {
            border-top: 0;
            border-left: 1px solid $login-form-border-color;
        }
    }

        .login__container {
            margin: 0 auto;
            max-width: $login-form-max-width;
        }

            .login__heading {
                @extend %heading;
                @extend %heading--4;
                @extend %heading--upcase;
            }

            .login__form {}
