// TODO: v4 remove. Replaced by WORKAREA.mobileFilterButtons
/*------------------------------------*\
    #MOBILE-FILTERS
\*------------------------------------*/

$mobile-filters-action-max-width: 276px !default;
$mobile-filters-max-width: 75% !default;


.mobile-filters {
    margin: 0 auto $vertical-margin;
    max-width: $mobile-filters-action-max-width;
}

    .mobile-filters__heading {
        @extend %heading;
        @extend %heading--4;
        margin: 0;
        color: $mobile-filters-heading-color;
        text-transform: uppercase;
    }

    .mobile-filters__sort {
        padding: ($spacing-unit * 4) 0;
        background: $mobile-filters-sort-background-color;
    }

    .mobile-filters__wrapper {
        margin: 0 auto;
        max-width: $mobile-filters-max-width;
    }

    .mobile-filters__control {
        display: none;
    }

    .mobile-filters__trigger {
        margin-bottom: $vertical-margin;
        text-align: center;
    }

    .mobile-filters__content {
        display: none;

        .mobile-filters__control:checked ~ & {
            display: block;
        }

        .mobile-filters-nav & {
            display: block;
        }
    }
