/*------------------------------------*\
    #MOBILE-NAV
\*------------------------------------*/

$mobile-nav-bg-color:   $white !default;
$mobile-nav-box-shadow: 8px 0 8px rgba($black, 0.5);

$mobile-nav-width:  90% !default;
$mobile-nav-close-button-size: 20px !default;
$mobile-nav-close-button-color: $mobile-nav-close-button-color !default;
$mobile-nav-item-border: 1px solid $border-color !default;
$mobile-nav-link-font-size: 14px !default;
$mobile-nav-link-color: $mobile-nav-links !default;

$mobile-nav-back-button-icon-size: 24px !default;
$mobile-nav-back-button-icon-fill: $primary-color !default;
$mobile-nav-back-button-bg-color: $mobile-nav-back-button-bg-color !default;

.mobile-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: index($components, mobile-nav);
    width: $mobile-nav-width;
    background: $mobile-nav-bg-color;
    box-shadow: $mobile-nav-box-shadow;
    transform: translateX(-110%);
    visibility: hidden;
    transition: visibility 0s linear $transition-time, transform $transition-time ease-out 0s;
}

.mobile-nav--active {
    visibility: visible;
    transform: translateX(0);
    transition: visibility 0s linear 0s, transform $transition-time ease-out $transition-time;
}
    /**
     * 1. offset based on vw to ensure equal positioning on any device
     */
    .mobile-nav__close-button {
        position: fixed;
        top: $spacing-unit * 2;
        right: -6vw; /* [1] */
        color: $mobile-nav-close-button-color;
        font-size: $mobile-nav-close-button-size;

        &:hover {
            color: $mobile-nav-close-button-color;
        }
    }


    .mobile-nav__back-button {
        display: block;
        padding: ($spacing-unit * 2) ($spacing-unit * 4);
        background-color: $mobile-nav-back-button-bg-color;
    }

        .mobile-nav__back-button-icon {
            width: $mobile-nav-back-button-icon-size;
            height: $mobile-nav-back-button-icon-size;
            float: right;
            transform: rotate(180deg);
            fill: $mobile-nav-back-button-icon-fill;
        }

        .mobile-nav__back-button-text {
            display: inline-block;
            margin: 0;
        }

    /**
     * 1. provides positioning context for `.mobile-nav__content`
     */
    .mobile-nav__menu {
        @extend %list-reset;
    }


        .mobile-nav__item {
            border-bottom: $mobile-nav-item-border;
        }

        .mobile-nav__item--has-children {}

            .mobile-nav__link {
                display: block;
                padding: ($spacing-unit * 2) $spacing-unit ($spacing-unit * 2) ($spacing-unit * 4);
                color: $mobile-nav-link-color;
                font-size: $mobile-nav-link-font-size;
                text-transform: uppercase;
            }

            .mobile-nav__link--selected {
                font-weight: $font-weight-medium;
            }

            .mobile-nav__link--all {
                font-weight: $font-weight-light;
                text-transform: none;
            }


            /**
             * 1. injected via JavaScript
             */
            .mobile-nav__content { /* [1] */
                @extend %list-reset;
            }
