/*------------------------------------*\
    #ORDER-DETAILS
\*------------------------------------*/

$order-details-border: 1px solid $border-color !default;
$order-details-info-background-color: $background-color-alternate !default;


.order-details {
    padding: 0 ($spacing-unit * 2) ($spacing-unit * 2);

    .page-content--checkout & {
        margin-top: $spacing-unit * 5;
        padding-top: ($spacing-unit * 2);
        border-top: $order-details-border;
    }
}

    .order-details__info {
        padding: $spacing-unit * 2;
        background-color: $order-details-info-background-color;
    }

    .order-details__section {
        margin: ($spacing-unit * 2) 0;
        padding: $spacing-unit * 2;
        border-bottom: $order-details-border;

        @include respond-to($medium-breakpoint) {
            margin-bottom: $spacing-unit * 2;
        }

        &:last-of-type {
            border-bottom: 0;
        }
    }

    .order-details__heading {
        @extend %heading;
        @extend %heading--6;
        @extend %heading--upcase;
    }

    .order-details__order-number {}

    .order-details__order-date {}

    .order-details__order-status {}
