 /*------------------------------------*\
    #ORDER-ITEM
\*------------------------------------*/

$order-item-background-color: $background-color-component !default;
$order-item-media-max-width: 80px !default;
$order-item-media-max-width-wide: 96px !default;
$order-item-font-size: $font-size-tiny !default;
$order-item-font-size-small: $font-size-tiny - 2px !default;
$order-item-border: 2px solid $border-color !default;
$order-item-prices-border: 1px solid $border-color !default;

.order-item {
    display: flex;
    margin-bottom: $spacing-unit * 2;
    padding: $spacing-unit;
    font-size: $order-item-font-size;
    background-color: $order-item-background-color;
    border: $order-item-border;

    @include respond-to($medium-breakpoint) {
        margin-bottom: $spacing-unit * 3;
    }
}

    .order-item__media {
        display: inline-block;
        width: 100%;
        max-width: $order-item-media-max-width;
        vertical-align: top;

        @include respond-to($medium-breakpoint) {
            max-width: $order-item-media-max-width-wide;
        }
    }

        .product-list__media-link {
            display: block;
            padding: 0 0 100%;
            height: 0;
        }

        .order-item__media-image {}

    .order-item__info {
        display: inline-block;
        padding: 0 $spacing-unit;
        width: 100%;
    }

    .order-item__name {
        margin-bottom: $spacing-unit;
    }

        .order-item__option-group {}

            .order-item__option {
                margin-bottom: 0;
                font-size: $order-item-font-size-small;
            }

        .order-item__customization {}

    .order-item__prices {
        display: flex;
        margin-top: $spacing-unit;
        padding: $spacing-unit 0;
        border-top: $order-item-prices-border;
        justify-content: space-between;
    }

        .order-item__quantity {
            display: inline-block;
            margin-bottom: 0;
            font-size: $order-item-font-size-small;
        }

        .order-item__price {
            display: inline-block;

            .table__price {
                margin-bottom: 0;
            }
        }

        .order-item__quantity-text {}

    .order-item__total-price {
        padding: $spacing-unit 0;
        border-top: $order-item-prices-border;
    }
