/*------------------------------------*\
    #PAGE-HEADER
\*------------------------------------*/

$page-header-background-color: $header-background-color !default;

$page-header-height: $spacing-unit * 5 !default;
$page-header-height-medium: $spacing-unit * 10 !default;
$page-header-button-padding: $spacing-unit * 2 !default;
$page-header-button-padding-medium: 25px !default;

$page-header-button-icon-size: 18px !default;
$page-header-button-icon-size-medium: 28px !default;
$page-header-button-icon-color: $header-icon-color !default;
$page-header-button-icon-color-hover: $header-icon-color-hover !default;

$page-header-cart-background-color: $primary-color !default;
$page-header-cart-count-background-color: $primary-color-dark !default;
$page-header-cart-button-color: $header-icon-color-cart !default;
$page-header-cart-icon-color: $header-icon-color-cart !default;

$page-header-logo-width:   72px !default;
$page-header-logo-height:  18px !default;
$page-header-logo-width-medium:   144px !default;
$page-header-logo-height-medium:  36px !default;

$page-header-breakpoint: $small-horizontal-breakpoint !default;


.page-header {
    position: sticky;
    top: 0;
    z-index: index($page-container, page-header);
    padding: 0;

    .admin-toolbar ~ .page-container & {
        @include respond-to($medium-breakpoint) {
            top: $global-admin-toolbar-height;
        }
    }
}

.page-header--checkout {
    padding-top: ($spacing-unit * 2);
}

.page-header--sticky {}

    .page-header__main {
        display: flex;
        position: relative;
        z-index: index($page-header, header-main);
        max-width: 100vw;
        background-color: $page-header-background-color;
        border-bottom: 1px solid $border-color;
        flex: 0 1 auto;
    }

        .page-header__button {
            @extend %button-reset;
            display: inline-block;
            position: relative;
            padding: $page-header-button-padding;
            text-align: center;
            border-right: 1px solid $border-color;
            border-left: 1px solid $border-color;
            cursor: pointer;

            @include respond-to($page-header-breakpoint) {
                padding: $page-header-button-padding-medium;
            }

            & + & {
                border-left: 0;
            }

            &:last-child {
                border-right: 0;
            }

            .page-header__button--mobile-hidden + & {
                border-left: 1px solid $border-color;

                @include respond-to($medium-breakpoint) {
                    border-left: 0;
                }
            }
        }

        .page-header__button--mobile-only {
            @include respond-to($medium-breakpoint) {
                display: none;
            }
        }

        .page-header__button--mobile-hidden {
            display: none;

            @include respond-to($medium-breakpoint) {
                display: inline-block;
            }
        }

        .page-header__button--menu {}

        .page-header__button--search {}

        .page-header__button--account {}

        .page-header__button--cart {
            color: $page-header-cart-button-color;
            background-color: $page-header-cart-background-color;

            &:hover {
                color: $page-header-cart-button-color;
            }
        }


            .page-header__button-icon {
                display: inline-block;
                width: $page-header-button-icon-size;
                height: $page-header-button-icon-size;
                vertical-align: middle;
                fill: $page-header-button-icon-color;
                transition: fill $transition-time ease-in;

                @include respond-to($page-header-breakpoint) {
                    width: $page-header-button-icon-size-medium;
                    height: $page-header-button-icon-size-medium;
                }

                .page-header__button:hover & {
                    fill: $page-header-button-icon-color-hover;
                }

                .page-header__button--cart & {
                    fill: $page-header-cart-icon-color;
                }

                .page-header__button--cart:hover & {
                    fill: $page-header-cart-icon-color;
                }
            }

            .page-header__cart-count {
                position: absolute;
                top: 0;
                right: 0;
                padding: $spacing-unit / 2;
                line-height: 1;

                @include respond-to($page-header-breakpoint) {
                    padding: $spacing-unit;
                    background-color: $page-header-cart-count-background-color;
                }
            }

    .page-header__logo-container {
        padding: 0 $spacing-unit * 2;
        width: 100%;
        line-height: $page-header-height;
        text-align: center;

        @include respond-to($page-header-breakpoint) {
            line-height: $page-header-height-medium;
        }

        @include respond-to($medium-breakpoint) {
            width:  auto;
        }
    }

        .page-header__logo {
            display: inline-block;
            margin: 0 auto;
            width:  $page-header-logo-width;
            height: $page-header-logo-height;

            @include respond-to($page-header-breakpoint) {
                margin: 0;
                width:  $page-header-logo-width-medium;
                height: $page-header-logo-height-medium;
            }
        }

    .page-header__navigation-container {
        display: none;
        text-align: center;

        @include respond-to($medium-breakpoint) {
            display: inline-block;
            width: 100%;
        }
    }

    .page-header__search {
        text-align: center;

        @include respond-to($medium-breakpoint) {
            text-align: right;
        }
    }

        .page-header__search-form {}

            .page-header__search-value {
                display: inline-block;
                vertical-align: top;
            }

            .page-header__search-button {
                display: inline-block;
                vertical-align: top;
            }


    /**
     * 1. make sure no content block can inject `p` tags that will break layout.
     */
    .page-header__promo {
        margin: $vertical-margin 0;
        text-align: center;

        p { margin: 0; } /* [1] */
    }
