/*------------------------------------*\
    #PAGE-CONTENT
\*------------------------------------*/

$page-content-max-width: 1410px !default;
$page-content-checkout-container-max-width: 500px !default;

.page-content {
    position: relative;
    z-index: index($page-container, page-content);
    margin: 0 auto;
    padding: 0 ($spacing-unit / 2);
    max-width: $page-content-max-width;

    @include respond-to($medium-breakpoint) {
        padding: 0;
    }
}

.page-content--checkout {}

    .page-content__main {}

    .page-content__main--with-aside {
        @include respond-to($wide-breakpoint) {
            display: table-cell;
            padding-left: $spacing-unit * 2;
            width: 80%;
        }
    }

        .page-content__aside {
            display: none;

            @include respond-to($wide-breakpoint) {
                display: table-cell;
                background-color: $page-aside-background-color;
            }

            .page-content--checkout & {
                display: block;
                background-color: $page-aside-background-color;
            }
        }

        .page-content__checkout-container {
            margin: 0 auto;
            max-width: $page-content-checkout-container-max-width;


            @include respond-to($wide-breakpoint) {
                margin: 0 ($spacing-unit * 2);
            }
        }
