/*------------------------------------*\
    #PAGE-CONTENT
\*------------------------------------*/

$page-content-max-width: 1410px !default;
$page-content-checkout-container-max-width: 500px !default;

.page-content {
    position: relative;
    z-index: index($page-container, page-content);
    margin: 0 auto $spacing-unit;
    padding: 0 ($spacing-unit / 2);
    max-width: $page-content-max-width;

    @include respond-to($medium-breakpoint) {
        margin: 0 auto ($spacing-unit * 2);
        padding: 0;
    }
}

.page-content--checkout {
    @include respond-to($medium-breakpoint) {
        margin-bottom: 0;
        width: 80%;
    }
}

.page-content--order {}

    .page-content__main {}

    .page-content__main--with-aside {
        @include respond-to($wide-breakpoint) {
            display: table-cell;
            padding-left: $spacing-unit * 2;
            width: 80%;
        }

        .page-content--checkout & {
            @include respond-to($wide-breakpoint) {
                padding-right: $spacing-unit * 2;
                width: 70%;
            }
        }

        .page-content--order & {
            @include respond-to($wide-breakpoint) {
                padding-right: $spacing-unit * 2;
                width: 75%;
            }
        }
    }

        .page-content__aside {
            display: none;

            @include respond-to($wide-breakpoint) {
                display: table-cell;
                background-color: $page-aside-background-color;
            }

            .page-content--order &,
            .page-content--checkout & {
                display: block;
                vertical-align: top;

                @include respond-to($wide-breakpoint) {
                    display: table-cell;
                }
            }
        }

        .page-content__checkout-container {
            margin: 0 auto;
            max-width: $page-content-checkout-container-max-width;


            @include respond-to($wide-breakpoint) {
                margin: 0 ($spacing-unit * 2);
            }
        }

        .page-content__checkout-container--wide {
            max-width: none;
        }
