/*------------------------------------*\
    #PAGE-FOOTER
\*------------------------------------*/

$page-footer-color: $footer-color !default;
$page-footer-background-color: $footer-background-color !default;
$page-footer-border: 1px solid $footer-border-color !default;


.page-footer {
    padding-top: $spacing-unit * 4;
    color: $page-footer-color;
    background-color: $page-footer-background-color;
}


    /**
     * 1. make sure no content block can inject `p` tags that will break layout.
     */
    .page-footer__nav {
        margin: 0 auto;
        padding: ($spacing-unit * 3) 0;
        max-width: 50%;
        text-align: left;

        @include respond-to($medium-breakpoint) {
            padding: ($spacing-unit * 6) 0;
            max-width: none;
        }

        p { margin: 0; } /* [1] */
    }

        .page-footer__heading {
            @extend %heading;
            @extend %heading--5;
        }

    .page-footer__help {
        @extend %list-reset;
    }

        .page-footer__help-item {}

            .page-footer__help-link {}

    .page-footer__copyright {
        margin: 0;
        padding: $spacing-unit * 2;
        text-align: center;
        border-top: $page-footer-border;
    }
