/*------------------------------------*\
    #PRODUCT-PRICES
\*------------------------------------*/

$product-price-details-font-size: 15px !default;
$product-price-details-font-size-wide: 18px !default;
$product-price-color: $product-price-color !default;
$product-price-sale-color: $product-price-sale-color !default;
$product-price-discount-color: $product-price-discount-color !default;

.product-prices {
    font-size: $font-size;
    font-weight: $font-weight-medium;
}

.product-prices--summary {}

.product-prices--details {
    margin: $vertical-margin 0;
    font-size: $product-price-details-font-size;
    font-weight: $font-weight-regular;

    @include respond-to($medium-breakpoint) {
        margin-top: 0;
        font-size: $product-price-details-font-size-wide;
    }
}

    .product-prices__price {
        display: inline-block;
        margin: 0;
        color: $product-price-color;
        white-space: nowrap;

        .product-prices--details & {
            display: inline;
            white-space: normal;
        }

        .product-prices--summary & {
            font-size: $font-size-tiny;
            font-weight: $font-weight-medium;

            @include respond-to($medium-breakpoint) {
                font-size: $font-size;
            }
        }

        & + & {
            margin-left: $spacing-unit / 2;

            .product-prices--summary & {
                margin-left: 0;
            }
        }
    }

    .product-prices__price--original {}

    .product-prices__price--original-range {
        .product-summary & {
            @extend %visually-hidden;
        }
    }

    .product-prices__price--sale {
        color: $product-price-sale-color;
        font-weight: $font-weight-heavy;

        .product-prices--details & {
            font-weight: $font-weight-regular;
        }
    }


    .product-prices__discounts {
        color: $product-price-discount-color;
    }

        .product-prices__discount {}

            .product-prices__discount-price {}
