/*------------------------------------*\
    #PRODUCT-LIST
\*------------------------------------*/

$product-list-media-ratio: $product-image-ratio !default;
$product-list-media-size:  80px !default;

$product-list-item-font-size: $font-size-tiny !default;
$product-list-item-font-size-small: $font-size-tiny - 2px !default;
$product-list-item-background-color: $background-color-component !default;
$product-list-item-options-color: $product-list-item-options-color !default;
$product-list-item-border: 1px solid $border-color !default;
$product-list-item-info-items-margin: ($spacing-unit / 2) 0 0 !default;

.product-list {
    @extend %list-reset;
    margin-bottom: $vertical-margin;
}

.product-list--medium {}

.product-list--narrow {}

    .product-list__item {
        @extend %clearfix;
        margin-bottom: $spacing-unit * 2;
        padding: ($spacing-unit * 2) $spacing-unit;
        background-color: $product-list-item-background-color;
        border: $product-list-item-border;

        @include respond-to($medium-breakpoint) {
            display: flex;
            margin-bottom: $spacing-unit * 3;
            padding: ($spacing-unit * 2);
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .product-list--narrow & {
            @include respond-to($medium-breakpoint) {
                display: block;
                width: auto;
            }
        }
    }

        .product-list__summary {
            display: inline-block;

            @include respond-to($medium-breakpoint) {
                width: 50%;
            }

            .product-list--medium,
            .product-list--narrow & {
                width: 100%;
            }
        }

            .product-list__media {
                display: inline-block;
                padding: 0 $spacing-unit 0 0;
                width: $product-list-media-size;
                max-width: $product-list-media-size;
                vertical-align: top;
            }

                .product-list__media-link {
                    display: block;
                    padding: 0 0 ((1 / $product-list-media-ratio) * 100%);
                    height: 0;
                }

                    .product-list__media-image {
                        display: block;
                    }


            .product-list__info {
                display: inline-block;
                text-align: left;
                vertical-align: top;
            }

                .product-list__name {
                    margin: $product-list-item-info-items-margin;
                }

                .product-list__option-group {
                    margin: $product-list-item-info-items-margin;
                }

                    .product-list__option {
                        display: block;
                        margin: 0 ($spacing-unit / 2) 0 0;
                        color: $product-list-item-options-color;
                        font-size: $product-list-item-font-size-small;
                    }

                .product-list__customization {
                    margin: $product-list-item-info-items-margin;
                }

                .product-list__quantity {
                    margin: $product-list-item-info-items-margin;
                    font-size: $product-list-item-font-size-small;
                    white-space: nowrap;
                }

        .product-list__actions {
            margin-left: $product-list-media-size;

            @include respond-to($medium-breakpoint) {
                display: inline-block;
                margin-left: 0;
            }

            .product-list--narrow & {
                display: block;
                margin-bottom: $spacing-unit;
                margin-left: $product-list-media-size;
            }
        }

            .product-list__remove-item {
                text-align: center;
            }

        /**
        * 1. Left margin must be auto to ensure flex alignment is correct.
        */
        .product-list__prices {
            margin: 0 ($spacing-unit * 2);
            text-align: right;

            @include respond-to($medium-breakpoint) {
                display: inline-block;
                margin: 0;
                margin-left: auto;/* [1] */
            }

            .product-list--medium {
                margin: 0 ($spacing-unit * 2);
            }

            .product-list--narrow & {
                display: block;
                margin-left: $product-list-media-size;
                text-align: left;
            }
        }

            .product-list__total-price {
                padding-top: $spacing-unit;
                border-top: $product-list-item-border;

                @include respond-to($medium-breakpoint) {
                    padding-left: $spacing-unit * 2;
                }
            }

        .product-list__shipments {}

            .product-list__shipments-heading {}

            .product-list__tracking {
                display: block;
                margin-bottom: $spacing-unit;
                text-align: right;
            }

                .product-list__tracking__qty {}
                .product-list__tracking__link {}
