/*------------------------------------*\
    #PRODUCT-DETAIL-CONTAINER
\*------------------------------------*/

$product-detail-container-tabs-background-color: $background-color-alternate !default;
$product-detail-container-section-border: 1px solid $border-color !default;

// These offsets must match the height of the sticky header
$product-detail-container-section-top-offset: 54px !default;
$product-detail-container-section-top-offset-landscape: 82px !default;
$product-detail-container-section-background-color: $background-color !default;
$product-detail-container-section-heading-background-color: $background-color-alternate !default;

$product-detail-container-tab-color: $font-color !default;
$product-detail-container-tab-color-hover: $link-color !default;
$product-detail-container-tab-font-size: 18px !default;
$product-detail-container-tab-font-size-medium: 22px !default;
$product-detail-container-tab-border: 1px solid $white !default;

$product-detail-container-section-back-icon-size: 24px !default;
$product-detail-container-section-back-icon-color: $link-color !default;


.product-detail-container {}

    .product-detail-container__tabs {
        margin-top: $spacing-unit * 4;
        background-color: $product-detail-container-tabs-background-color;

        @include respond-to($medium-breakpoint) {
            padding: $spacing-unit * 4;
        }
    }

        .product-detail-container__tab {
            border-bottom: $product-detail-container-tab-border;

            @include respond-to($medium-breakpoint) {
                display: inline-block;
                margin-right: $spacing-unit * 6;
                border-bottom: 0;

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }

        .product-detail-container__tab-link {
            display: block;
            padding: $spacing-unit * 3;
            color: $product-detail-container-tab-color;
            font-size: $product-detail-container-tab-font-size;
            text-transform: uppercase;

            &:after {
                @include svg($image: 'icons/arrow_right.svg', $width: $product-detail-container-tab-font-size);
                margin-top: $spacing-unit / 2;
                float: right;
                content: '';

                @include respond-to($medium-breakpoint) {
                    display: none;
                }
            }

            &:hover {
                color: $product-detail-container-tab-color-hover;
                text-decoration: underline;
            }

            @include respond-to($medium-breakpoint) {
                padding: 0;
                font-size: $product-detail-container-tab-font-size-medium;
            }

        }

        .product-detail-container__section {
            position: fixed;
            top: $product-detail-container-section-top-offset;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;
            background-color: $product-detail-container-section-background-color;
            transform: translateX(-100%);
            transition: transform $transition-time ease-in;
            visibility: hidden;

            @include respond-to($small-horizontal-breakpoint) {
                top: $product-detail-container-section-top-offset-landscape;
            }

            @include respond-to($medium-breakpoint) {
                position: static;
                margin: $vertical-margin 0;
                padding: ($spacing-unit * 5) ($spacing-unit * 2);
                border-top: $product-detail-container-section-border;
                transform: translateX(0);
                visibility: visible;
            }
        }

        .product-detail-container__section--open-overlay {
            visibility: visible;
            transform: translateX(0%);
        }

        .product-detail-container__section--description {
            border-top: 0;
        }

        .product-detail-container__section--information {}
        .product-detail-container__section--reviews {}

            .product-detail-container__section-overlay-controls {
                padding: ($spacing-unit * 2) ($spacing-unit * 3);

                @include respond-to($medium-breakpoint) {
                    display: none;
                }
            }

                .product-detail-container__section-back-icon {
                    display: inline-block;
                    margin-right: $spacing-unit * 2;
                    width: $product-detail-container-section-back-icon-size;
                    height: $product-detail-container-section-back-icon-size;
                    vertical-align: middle;
                    transform: rotate(180deg);
                    fill: $product-detail-container-section-back-icon-color;
                }

            .product-detail-container__section-heading {
                @extend %heading;
                @extend %heading--4;
                @extend %heading--upcase;
                padding: ($spacing-unit * 2) ($spacing-unit * 3);
                background-color: $product-detail-container-section-heading-background-color;

                @include respond-to($medium-breakpoint) {
                    padding: 0;
                    background-color: $transparent;
                }
            }

            .product-detail-container__section-content {
                padding: 0 ($spacing-unit * 3);

                @include respond-to($medium-breakpoint) {
                    padding: 0;
                }
            }

        .product-detail-container__description {}

        .product-detail-container__attributes {}

            .product-detail-container__attribute-name {
                font-weight: $font-weight-heavy;
            }

            .product-detail-container__attribute-value {}
