/*------------------------------------*\
    #PRODUCT-DETAILS
\*------------------------------------*/

$product-details-left-column-width: 44% !default;
$product-details-right-column-width: 56% !default;
$product-details-right-padding-right: 140px !default;
$product-details-quantity-width: 96px !default;

$product-details-name-font-size: 22px !default;
$product-details-name-font-size-wide: 30px !default;
$product-details-id-font-size: 30px !default;
$product-details-id-color: $font-color-light !default;



/**
 * 1. within a jQuery Dialog, set width since there is no
 *    .product-details-container
 */

.product-details {
    @extend %clearfix;

    .ui-dialog & { /* [1] */
        max-width: $dialog-content-max-width;
    }
}

.product-details--generic {}

    .product-details__left-column {
        @include respond-to($medium-breakpoint) {
            width: $product-details-left-column-width;
            float: left;
        }
    }

    .product-details__right-column {
        @include respond-to($medium-breakpoint) {
            width: $product-details-right-column-width;
            float: right;
        }

        @include respond-to($wide-breakpoint) {
            padding-right: $product-details-right-padding-right;
        }
    }

    .product-details__header {}

        .product-details__name {
            margin-bottom: 0;
            font-size: $product-details-name-font-size;

            @include respond-to($medium-breakpoint) {
                font-size: $product-details-name-font-size-wide;
            }
        }

            .product-details__id {
                margin-bottom: $spacing-unit;
                color: $product-details-id-color;
                font-size: $font-size-small;

                @include respond-to($medium-breakpoint) {
                    display: inline-block;
                    margin-bottom: $spacing-unit * 2;
                    font-size: $font-size;
                }
            }


    .product-details__short-description {}


    .product-details__add-to-cart-form {}

        .product-details__quantity {
            margin-bottom: $spacing-unit * 2;
            max-width: $product-details-quantity-width;
        }

        .product-details__add-to-cart-action {}

        .product-details__unavailable {}


    .product-details__full-details {
        display: none;

        .ui-dialog & {
            display: block;
        }
    }
