/*------------------------------------*\
    #PRODUCT-SUMMARY
\*------------------------------------*/

$product-summary-max-width-medium: 260px !default;
$product-summary-small-width: 200px !default;
$product-summary-divider-min-height: 90px !default;
$product-summary-divider-min-height-wide: 120px !default;

$product-summary-media-max-height: 232px !default;
$product-summary-media-ratio: $product-image-ratio !default;

$product-summary-border-color: $product-summary-border-color !default;
$product-summary-background-color: $background-color-component !default;
$product-summary-background-color-hover: $product-summary-background-color-hover !default;
$product-summary-name-color: $product-summary-name-color !default;


/**
 * 1. sets positioning context for any absolutely positioned product summary
 *    child elements
 */

.product-summary {
    position: relative; /* [1] */
    margin: 0 auto $spacing-unit;
    background-color: $product-summary-background-color;
    border: 2px solid $product-summary-border-color;

    @include respond-to($medium-breakpoint) {
        max-width: $product-summary-max-width-medium;
    }

    .product-summary--small & {
        max-width: $product-summary-small-width;
    }

    .search-autocomplete & {
        margin-left: 0;
        margin-right: 0;
    }
}

.product-summary--small {}

    .product-summary__media {
        margin: $spacing-unit auto;
        max-height: $product-summary-media-max-height;
        text-align: center;

        @include respond-to($small-horizontal-breakpoint) {
            margin: ($spacing-unit * 2) auto;
        }

        @include respond-to($medium-breakpoint) {
            max-height: none;
        }
    }

        .product-summary__media-link {
            display: block;
            padding: 0 0 ((1 / $product-summary-media-ratio) * 100%);
            height: 0;
        }

            .product-summary__media-image {}

    .product-summary__divider {
        min-height: $product-summary-divider-min-height;

        @include respond-to($medium-breakpoint) {
            width: 100%;
            min-height: $product-summary-divider-min-height-wide;
            border-top: 2px solid $product-summary-border-color;

            .product-summary:hover & {
                background: $product-summary-background-color-hover;
            }
        }
    }

        .product-summary__info {
            margin: $spacing-unit auto 0;
            padding: $spacing-unit ($spacing-unit * 2);

            @include respond-to($medium-breakpoint) {
                margin-top: $spacing-unit * 2;
            }
        }

            .product-summary__name {
                @extend %break-word;
                margin: 0 0 ($spacing-unit / 2);
            }

                .product-summary__name-link {
                    color: $product-summary-name-color;
                    font-size: $font-size-tiny;
                    font-weight: $font-weight-regular;

                    @include respond-to($medium-breakpoint) {
                        font-size: $font-size;
                    }
                }
