/*------------------------------------*\
    #PRODUCT-DETAILS-MEDIA
\*------------------------------------*/

$product-details-primary-image-max-width:  600px !default;
$product-details-primary-image-ratio: $product-image-ratio !default;

$product-details-alt-image-selected-outline-color:  $highlight-color !default;

.product-details-media {}

    /**
     * 1. provides positioning context for loading indicator
     */
    .product-details-media__primary-image {
        position: relative; /* [1] */
        max-width: $product-details-primary-image-max-width;
    }

        .product-details-media__primary-image-link {
            display: block;
            padding: 0 0 ((1 / $product-details-primary-image-ratio) * 100%);
            height: 0;
            vertical-align: top;
        }

            .product-details-media__primary-image-link-image {}


    .product-details-media__alt-images {}

        .product-details-media__alt-image {}

            .product-details-media__alt-image-link {
                display: inline-block;
            }

            .product-details-media__alt-image-link--selected {
                cursor: default;
                outline: 1px solid $product-details-alt-image-selected-outline-color;
            }
