/*------------------------------------*\
    #RECOMMENDATIONS
\*------------------------------------*/

$recommendations-background-color: $background-color-alternate !default;


.recommendations {
    padding: ($spacing-unit * 5) 0;
    background-color: $personalized-recommendations-content-block-background-color;
}

.recommendations--full-bleed {
    @include full-bleed-container;
}

.recommendations--vertical {
    padding: ($spacing-unit * 2) ($spacing-unit * 4);
    overflow-y: scroll;
}

    .recommendations__heading {
        @extend %heading;
        @extend %heading--4;
        @extend %heading--upcase;
        text-align: center;
    }

    .recommendations__list {
        @extend %list-reset;
    }
