/*------------------------------------*\
    #RESULT-FILTERS
\*------------------------------------*/

$result-filters-selected-color:  $highlight-color !default;


.result-filters {}

    .result-filters__heading {
        @extend %heading;
        @extend %heading--4;
        padding: ($spacing-unit * 2) 0 $spacing-unit;
        text-align: center;
        text-transform: uppercase;

        @include respond-to($medium-breakpoint) {
            text-align: left;
        }
    }

    .result-filters__count {
        color: $category-count-color;
    }

    .result-filters__sort {
        float: right;
    }

.result-filters--color {}
.result-filters--price {}
.result-filters--category {}

    .result-filters__section {
        margin-bottom: $vertical-margin;
    }

        .result-filters__section-heading {
            font-size: $font-size;
            font-weight: $font-weight-heavy;
            text-transform: uppercase;
        }

        .result-filters__group {
            @extend %list-reset;
        }

            .result-filters__filter {}

            .result-filters__filter--selected {
                background: $result-filters-selected-color;
            }
