/*------------------------------------*\
    #SVG-ICON
\*------------------------------------*/

$svg-icon-size:              $font-size !default;
$svg-icon-small-size:        $font-size-small !default;
$svg-icon-large-size:        $font-size + 4px !default;
$svg-icon-extra-large-size:  $font-size * 2 !default;
$svg-icon-theme-header-color: $header-icon-color !default;
$svg-icon-theme-header-color-hover: $header-icon-color-hover !default;


.svg-icon {
    display: inline-block;
    width: $svg-icon-size;
    height: $svg-icon-size;
    vertical-align: middle;
}

/**
 * Display modifiers
 */
.svg-icon--block {
    display: block;
}


/**
 * Size Modifiers
 */
.svg-icon--small {
    width: $svg-icon-small-size;
    height: $svg-icon-small-size;
}

.svg-icon--large {
    width: $svg-icon-large-size;
    height: $svg-icon-large-size;
}

.svg-icon--extra-large {
    width: $svg-icon-extra-large-size;
    height: $svg-icon-extra-large-size;
}

.svg-icon--theme-header {
    fill: $svg-icon-theme-header-color;

    &:hover {
        fill: $svg-icon-theme-header-color-hover;
    }
}

.svg-icon--hover-primary-color {
    &:hover {
        fill: $primary-color;
    }
}

/**
 * Color Modifiers
 */
.svg-icon--primary-color { fill: $primary-color; }
.svg-icon--link-color { fill: $link-color; }
.svg-icon--blue { fill: $blue; }
.svg-icon--yellow { fill: $yellow; }
.svg-icon--red { fill: $red; }
.svg-icon--green { fill: $green; }
.svg-icon--white { fill: $white; }
.svg-icon--gray { fill: $gray; }
.svg-icon--black { fill: $black; }
.svg-icon--black-alpha-15 { fill: $black-alpha-15; }
.svg-icon--black-alpha-50 { fill: $black-alpha-50; }
