/*------------------------------------*\
    #TEXT-BOX
\*------------------------------------*/

$text-box-border-color: $black !default;
$text-box-border: 2px solid $input-border-color !default;
$text-box-invalid-border-color: $invalid-color !default;
$text-box-valid-border-color: $valid-color !default;

$text-box-color-page-footer: $footer-color !default;

$text-box-stripped-border: 0 !default;
$text-box-stripped-placeholder-color: $text-box-color-page-footer !default;

$text-box-search-color: $white !default;
$text-box-search-background-color: $transparent !default;

$text-box-width:              100% !default;
$text-box-x-small-width:       62px !default;
$text-box-small-width:         96px !default;
$text-box-wide-width:         256px !default;

$text-box-multi-line-height:  168px !default;


.text-box {
    width: $text-box-width;
    border: 0;
    border-bottom: $text-box-border;
    transition: border $transition-time ease-in-out;

    &:focus {
        @include focus-ring;
    }

    .page-footer & {
        color: $text-box-color-page-footer;
    }
}

.text-box--stripped {
    background: $transparent;
    border: $text-box-stripped-border;

    &::placeholder {
        color: $text-box-stripped-placeholder-color;
        opacity: 1;
    }
}

.text-box--search {
    padding-left: $spacing-unit * 5;
    color: $text-box-search-color;
    background: $text-box-search-background-color;
    border: 0;

    &::placeholder {
        color: $text-box-search-color;
    }
}

.text-box--x-small    { width:  $text-box-x-small-width;     }
.text-box--small      { width:  $text-box-small-width;       }
.text-box--wide       { width:  $text-box-wide-width;        }
.text-box--full       { width:  100%;                        }
.text-box--multi-line { height: $text-box-multi-line-height; }

.text-box--invalid {
    border-color: $text-box-invalid-border-color;
}

.text-box--valid {
    border-color: $text-box-valid-border-color;
}
