/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

$font-size:                 14px !default;
$font-size-small:           12px !default;
$form-control-font-size:    14px !default;
$line-height:               1.375 !default;
$form-control-line-height:  1.75 !default;
