/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

$font-size:                 14px !default;
$font-size-small:           12px !default;
$form-control-font-size:    14px !default;
$line-height:               1.375 !default;
$form-control-line-height:  1.75 !default;
$font-weight-heavy:         700 !default;
$font-weight-bold:          500 !default;
$font-weight-regular:       400 !default;
$font-weight-light:         300 !default;
