/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

$font-size:                 14px !default;
$font-size-small:           12px !default;
$font-size-tiny:            10px !default;
$font-size-content-blocks:  18px !default;
$form-control-font-size:    14px !default;
$line-height:               1.375 !default;
$line-height-large:         1.666 !default;
$form-control-line-height:  1.75 !default;
$font-weight-heavy:         700 !default;
$font-weight-medium:        500 !default;
$font-weight-regular:       400 !default;
$font-weight-light:         300 !default;
$font-letter-spacing:       1px !default;
