/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/

/**
 * In this file you can override a variables !default value before it is
 * imported, effectively adjusting the theme of the site for the site's emails.
 */

$font-size: 16px !default;

@import '../settings/colors';
@import '../settings/font_families';
@import '../settings/typography';
@import '../settings/global';


/**
 * Email-specific variables are defined separately.
 */

$email-max-width: 600px !default;
$email-background-color: $background-color-alternate !default;
